# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# R
.Rhistory
.RData

# Large data
*.bam
*.sam
*.fastq
*.fq
*.gz

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Results
results/temp/

# Conda
env/
venv/